DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.fpuoxlzwdphcptwwtgbl.supabase.co:5432/postgres"
# NOTE: CHANGE DATABASE_URL PASSWORD
SUPABASE_URL="https://fpuoxlzwdphcptwwtgbl.supabase.co"
SUPABASE_KEY="" # sb secret key from supabase project settings > API > Secret Keys
JPDB_URL="https://jpdb.io/api/v1"
GEMINI_API_KEY="" # Needed for translations and feedback endpoints
OPENAI_API_KEY=""
OPENAI_CHAT_MODEL="gpt-4o-mini"
OPENAI_REALTIME_MODEL="gpt-realtime-2.1-mini"
FRONTEND_URL="http://localhost:8081" 
