DATABASE_URL=
# Links to Supabase project, not Supabase DB
SUPABASE_URL=
SUPABASE_KEY=
JPDB_URL="https://jpdb.io/api/v1"
GEMINI_API_KEY= # Needed for translations and feedback endpoints
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=
OPENAI_REALTIME_MODEL=
